<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todos</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of items</td>
                    </tr>
                </thead>
                 {% for item in todo_list %}
                <tbody>
                    <td>{{ item.name }}</td>
                    <td></td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
